<form class="relation-card">
  <div class="relation-card-head">
    <div class="relation-card-back-button" (click)="goBack()">&#65513;</div>
    <h1 *ngIf="relation">
      {{ [relation.name, relation.surname].join(' ') | uppercase }}
    </h1>
  </div>

  <card-element
    *ngFor="let element of elements"
    [name]="element.name"
    [label]="element.label"
    [defaultValue]="getDefaultElementValue(element.name)"
    [required]="element.required"
    [pattern]="element.pattern"
    (change)="(onFieldChanged)"
  />
</form>
