$White: white;
$Black: black;
$Gray: gray;
$FruitSalad: #4caf50;
$GreenHaze: #04aa6d;
$CuriousBlue: #1dabd9;
$Skyblue: skyblue;
$SunsetOrange: #fd4c51;
$OrangePeel: #ff9800;
$Concrete: #f2f2f2;
$Alto: #ddd;
