<div class="card-field">
  <label>{{ label }}</label>
  <ng-container *ngIf="editMode; then editBlock; else viewBlock"></ng-container>
</div>

<ng-template #editBlock>
  <input
    [(ngModel)]="value"
    (blur)="editMode = false"
    autofocus
    [required]="required || false"
    [pattern]="pattern || ''"
    type="text"
    [name]="name"
    #input="ngModel"
    (keyup.enter)="onPressEnter(input.control.value, input.control.errors)"
    (keyup.escape)="handleReset()"
  />
</ng-template>

<ng-template #viewBlock>
  <div class="card-text" (click)="editMode = true">
    {{ value }}
  </div>
</ng-template>
